{% extends 'base.html' %}
{% block content %}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Список сотрудников</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'hod_home' %}">Панель управления</a></li>
                    <li class="breadcrumb-item active">Список сотрудников</li>
                </ul>
            </div>
            <div class="col-auto text-right float-right ml-auto">
                <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Отчёт сотрудников</a>
                <a href="{% url 'add_staff' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        {% include 'includes/messages.html' %}
                        <table id="table_id" class="table table-hover table-center mb-0 ">
                            <thead>
                            <tr>
                                <th>Cообщение</th>
                                <th class="text-right">Action</th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for i in see_notification %}
                            <tr>
                                <td>{{i.message}}</td>
                                <td class="text-right">
                                    {% if i.status == 1 %}
                                    <a href="{%url 'staff_STATUS' status=i.id %}" class="btn btn-success">Mark AS</a>
                                    {% elif i.status == 0 %}
                                    <button class="btn btn-warning">Mark AS</button>
                                    {% else %}
                                    <button class="btn btn-danger" disabled="disabled">Mark AS</button>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}