<!-- The header element will appear on the top of each page of this estimate document. -->
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--     <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">-->
    <style type="text/css">
        .SimpiAI {
            display: block;
            margin-left: auto;
            margin-right: auto
        }
        h2 {
            text-align: center
        }
    </style>
</head>
<body>

<header>
    <div class="headerSection">
        <div class="logoAndName">
            <img class = "SimpiAI" src="{% static 'assets/img/PhotoSimpiAI.png' %}" height='130px'>
        </div>
        <div>
            <h2>{{pdf.name_report}}</h2>
            <p>
                <b>Дата:</b> {{pdf.created_at}}<br>
                <b>Сотрудник:</b> {{pdf.}}<br>
                <b>Должность:</b> {{pdf.}}
            </p>
        </div>
    </div>
    <hr/>
    <div class="headerSection">
        <div class="issuedTo">
            <h3>Описание</h3>
            <p>
                {% spaceless %}
                {{pdf.description|linebreaks}}
                {% endspaceless %}
            </p>
        </div>
        <div>
            <p>
                <b>Примечания</b><br/>
            </p>
        </div>
    </div>
</header>

<footer>
</footer>

<main>
</main>

<aside>
    <hr/>
    <b>Правила и условия</b>
    <p>
        ...
    </p>
</aside>

</body>
</html>