{% extends 'base.html' %}
{% block content %}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Звонки</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'hod_home' %}">Панель управления</a></li>
                    <li class="breadcrumb-item active">Звонки</li>
                </ul>
            </div>
            <!--            <div class="col-auto text-right float-right ml-auto">-->
            <!--                <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Дела</a>-->
            <!--                <a href="{% url 'add_staff' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>-->
            <!--            </div>-->
        </div>
    </div>

    <form action="{% url 'callControl_view' %}" method="post">{% csrf_token %}
        <div class="row">
            <div class="col-12 col-sm-2">
                <div class="form-group">
                    <select name="select_type_report" class="form-control">
                        <option>Ничего не выбрано</option>
                        <option value="month">Месяц</option>
                        <option value="day">День</option>
                        <option value="week">Неделя</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-2">
                <div class="form-group">
                    <input type="submit" class="btn btn-outline-secondary mr-2" value="Применить">
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="card card-chart">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <h5 class="card-title">Аналитика типов звонков</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="char_din_call"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="card card-chart">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <h5 class="card-title">Аналитика длительности звонков</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="char_call"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-2">
            <div class="form-group">
                <input type="submit" id="analyticsBtn" name="table" value="Аналитика"
                       class="btn btn-outline-secondary mr-2">
                <input type="submit" id="callBtn" name="table" value="Звонки"
                       class="btn btn-outline-secondary mr-2">
            </div>
        </div>
    </div>

    <div id="analyticsTable" class="row" style="display: none;">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        {% include 'includes/messages.html' %}
                        <table id="table_new" class="table table-hover table-center mb-0">
                            <thead>
                            <tr>
                                <th>Ответственный</th>
                                <th>Звонки менее 30 секунд</th>
                                <th>Звонки больше 5 минут</th>
                                <th>Исходящие звонки</th>
                                <th>Входящие звонки</th>
                                <th>Пропущенные звонки</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if current_user.user_type == '1' %}
                            {% for user, call_counts in call_per_user.items %}
                            <tr>
                                <td>{{ user.first_name }}&nbsp;{{ user.last_name }}</td>
                                <td>{{call_counts.number_calls_less_30}}</td>
                                <td>{{call_counts.number_calls_more_5}}</td>
                                <td>{{call_counts.total_Incoming_calls}}</td>
                                <td>{{call_counts.total_outgoing_calls}}</td>
                                <td>{{call_counts.total_missed_calls}}</td>
                            </tr>
                            {% endfor %}
                            {% elif current_user.user_type == '2' %}
                            {% for user, call_counts in call_per_user.items %}
                            {% if user == current_user %}
                            <tr>
                                <td>{{ user.first_name }}&nbsp;{{ user.last_name }}</td>
                                <td>{{call_counts.number_calls_less_30}}</td>
                                <td>{{call_counts.number_calls_more_5}}</td>
                                <td>{{call_counts.total_Incoming_calls}}</td>
                                <td>{{call_counts.total_outgoing_calls}}</td>
                                <td>{{call_counts.total_missed_calls}}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="callTable" class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        {% include 'includes/messages.html' %}
                        <table id="table_id" class="table table-hover table-center mb-0">
                            <thead>
                            <tr>
                                <th>Ответственный</th>
                                <th>Продолжительность</th>
                                <th>Тип звонка</th>
                                <th>Статус</th>
                                <th>Номер телефона</th>
                                <th>DateCreate</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if current_user.user_type == '1' %}
                            {% for i in call %}
                            <tr>
                                <td>{{ i.bitrix_staff_id.first_name }}&nbsp;{{ i.bitrix_staff_id.last_name }}</td>
                                <td>{{i.DURATION}}</td>

                                {% if i.CALL_TYPE == '1' %}
                                <td>Исходящий</td>
                                {% elif i.CALL_TYPE == '2' %}
                                <td>Входящий</td>
                                {% endif %}

                                {% if i.CALL_FAILED_CODE == '200' %}
                                <td>Успешный звонок</td>
                                {% elif i.CALL_FAILED_CODE == '304' %}
                                <td>Пропущенный звонок</td>
                                {% elif i.CALL_FAILED_CODE == '603' %}
                                <td>Отклонено</td>
                                {% elif i.CALL_FAILED_CODE == '486' %}
                                <td>Занято</td>
                                {% endif %}

                                <td>{{i.PHONE_NUMBER}}</td>
                                <td>{{i.DateCreate}}</td>
                            </tr>
                            {% endfor %}
                            {% elif current_user.user_type == '2' %}
                            {% for i in call %}
                            {% if i.bitrix_staff_id == current_user %}
                            <tr>
                                <td>{{ i.bitrix_staff_id.first_name }}&nbsp;{{ i.bitrix_staff_id.last_name }}</td>
                                <td>{{i.DURATION}}</td>

                                {% if i.CALL_TYPE == '1' %}
                                <td>Исходящий</td>
                                {% elif i.CALL_TYPE == '2' %}
                                <td>Входящий</td>
                                {% endif %}

                                {% if i.CALL_FAILED_CODE == '200' %}
                                <td>Успешный звонок</td>
                                {% elif i.CALL_FAILED_CODE == '304' %}
                                <td>Пропущенный звонок</td>
                                {% elif i.CALL_FAILED_CODE == '603' %}
                                <td>Отклонено</td>
                                {% elif i.CALL_FAILED_CODE == '486' %}
                                <td>Занято</td>
                                {% endif %}

                                <td>{{i.PHONE_NUMBER}}</td>
                                <td>{{i.DateCreate}}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-chart">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <h5 class="card-title">Аналитика статусов звонков</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="char_type"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
document.getElementById('analyticsBtn').addEventListener('click', function() {
    document.getElementById('analyticsTable').style.display = 'block';
    document.getElementById('callTable').style.display = 'none';
});

document.getElementById('callBtn').addEventListener('click', function() {
    document.getElementById('analyticsTable').style.display = 'none';
    document.getElementById('callTable').style.display = 'block';
});





</script>
{% include 'includes/chart.html' %}
{% endblock %}