{% extends 'base.html' %}
{% block content %}

<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">Добро пожаловать {{user.first_name}}&nbsp;{{user.last_name}}</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item active">Панель управления</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
        <div class="card bg-two w-100">
            <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                    <div class="db-icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="db-info">
                        {% if staff_count == 0 %}
                        <h3>{{staff_count}}</h3>
                        {% else %}
                        <h3>{{staff_count}}</h3>
                        {% endif %}
                        <h6>Сотрудники</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
        <div class="card bg-three w-100">
            <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                    <div class="db-icon">
                        <i class="fa fa-phone" style="transform: scaleX(-1);"></i>
                    </div>
                    <div class="db-info">
                        {% if call_count == 0 %}
                        <h3>{{call_count}}</h3>
                        {% else %}
                        <h3>{{call_count}}</h3>
                        {% endif %}
                        <h6>Звонки</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
        <div class="card bg-four w-100">
            <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                    <div class="db-icon">
                        <i class="fa fa-tasks"></i>
                    </div>
                    <div class="db-info">
                        {% if task_count == 0 %}
                        <h3>{{task_count}}</h3>
                        {% else %}
                        <h3>{{task_count}}</h3>
                        {% endif %}
                        <h6>Задачи</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
        <div class="card bg-one w-100">
            <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                    <div class="db-icon">
                        <i class="fas fa-file-alt"></i>
                    </div>
                    <div class="db-info">
                        {% if report_count == 0 %}
                        <h3>{{report_count}}</h3>
                        {% else %}
                        <h3>{{report_count}}</h3>
                        {% endif %}
                        <h6>Отчёты</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="row">-->
<!--    <div class="col-12">-->
<!--        <div class="card card-chart">-->
<!--            <textarea name="textPostSelect" class="form-control"-->
<!--                      rows="10">{{response}}</textarea>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="row">
    <div class="col-md-6 d-flex">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title">Звездные сотрудники</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-center">
                        <thead class="thead-light">
                        <tr>
                            <th>Имя</th>
                            <th class="text-center">Задачи</th>
                            <th class="text-center">Звонки</th>
                            <th class="text-right">Рабочее время</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user, data in sorted_analyzing %}
                        <tr>
                            <td>{{ user }}</td>
                            <td class="text-center">{{ data.call }}</td>
                            <td class="text-center">{{ data.task }}</td>
                            <td class="text-right">{{ data.time }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 d-flex">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title">Последние события</h5>
            </div>
            <div class="card-body">
                <ul class="activity-feed">
                    <li class="feed-item">
                        <textarea name="textPostSelect" class="form-control" rows="10"
                                  id="myTextarea">{{response}}</textarea>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h5 class="form-title"><span>Аналитика качества</span></h5>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card card-chart">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h5 class="card-title">Качество задач</h5>
                    </div>
                    <div class="col-6">
                        <ul class="list-inline-group text-right mb-0 pl-0">
                            <li class="list-inline-item">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="bar_char_task"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card card-chart">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h5 class="card-title">Качество звонков</h5>
                    </div>
                    <div class="col-6">
                        <ul class="list-inline-group text-right mb-0 pl-0">
                            <li class="list-inline-item">
                                <!--                                <div class="form-group mb-0 amount-spent-select">-->
                                <!--                                    <select class="form-control form-control-sm">-->
                                <!--                                        <option>Cегодня</option>-->
                                <!--                                        <option>В прошлом недели</option>-->
                                <!--                                        <option>В прошлом месяце</option>-->
                                <!--                                    </select>-->
                                <!--                                </div>-->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="bar_char_call"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h5 class="form-title"><span>Аналитика эффективности</span></h5>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card card-chart">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h5 class="card-title">Эффективность задач</h5>
                    </div>
                    <div class="col-6">
                        <ul class="list-inline-group text-right mb-0 pl-0">
                            <li class="list-inline-item">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="e_task_call"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card card-chart">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h5 class="card-title">Эффективность звонков</h5>
                    </div>
                    <div class="col-6">
                        <ul class="list-inline-group text-right mb-0 pl-0">
                            <li class="list-inline-item">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="e_char_call"></div>
            </div>
        </div>
    </div>
</div>

<!--<div class="row">
  <div class="col-xl-3 col-sm-6 col-12">
     <div class="card flex-fill fb sm-box">
        <i class="fab fa-facebook"></i>
        <h6>50,095</h6>
        <p>Likes</p>
     </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12">
     <div class="card flex-fill twitter sm-box">
        <i class="fab fa-twitter"></i>
        <h6>48,596</h6>
        <p>Follows</p>
     </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12">
     <div class="card flex-fill insta sm-box">
        <i class="fab fa-instagram"></i>
        <h6>52,085</h6>
        <p>Follows</p>
     </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12">
     <div class="card flex-fill linkedin sm-box">
        <i class="fab fa-linkedin-in"></i>
        <h6>69,050</h6>
        <p>Follows</p>
     </div>
  </div>
</div>-->

{% include 'includes/chart.html' %}
{% endblock %}