{% extends 'base.html' %}
{% block content %}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Рабочее время</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'hod_home' %}">Панель управления</a></li>
                    <li class="breadcrumb-item"><a href="">Трудовая дисциплина</a></li>
                    <li class="breadcrumb-item active">Рабочее время</li>
                </ul>
            </div>
        </div>
    </div>

    <form action="{% url 'timeControl_view' %}" method="post">{% csrf_token %}
        <div class="row">
            <div class="col-12 col-sm-2">
                <div class="form-group">
                    <select name="select_type_period" class="form-control">
                        <option value="">Ничего не выбрано</option>
                        <option value="month">Месяц</option>
                        <option value="day">День</option>
                        <option value="week">Неделя</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-2">
                <div class="form-group">
                    <input type="submit" class="btn btn-outline-secondary mr-2" value="Применить">
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        {% include 'includes/messages.html' %}
                        <table id="table_id" class="table table-hover table-center mb-0">
                            <thead>
                            <tr>
                                <th>Ответственный</th>
                                <th>Длительность работы</th>
                                <th>Длительность перерыва</th>
                                <th>Статус</th>
                                <th>Дата</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if user.user_type == '1' %}
                            {% for i in time %}
                            <tr>
                                <td>{{i.bitrix_staff_id.first_name}}&nbsp;{{i.bitrix_staff_id.last_name}}</td>
                                <td>{{i.DURATION}} ({{i.DURATION.total_seconds}} сек)</td>
                                <td>{{i.TIME_LEAKS}} ({{i.TIME_LEAKS.total_seconds}} сек)</td>
                                <td>{{i.STATUS}}</td>
                                <td>{{i.START_TIME|date:"Y-m-d"}}</td>
                            </tr>
                            {% endfor %}
                            {% elif user.user_type == '2' %}
                            {% for i in time %}
                            {% if i.bitrix_staff_id == user %}
                            <tr>
                                <td>{{ i.bitrix_staff_id.first_name }}&nbsp;{{ i.bitrix_staff_id.last_name }}</td>
                                <td>{{ i.DURATION }} ({{ i.DURATION.total_seconds }} сек)</td>
                                <td>{{ i.TIME_LEAKS }} ({{ i.TIME_LEAKS.total_seconds }} сек)</td>
                                <td>{{ i.STATUS }}</td>
                                <td>{{ i.START_TIME|date:"Y-m-d" }}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}