{% extends 'base.html' %}
{% block content %}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Список сотрудников</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'hod_home' %}">Панель управления</a></li>
                    <li class="breadcrumb-item active">Список сотрудников</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        {% include 'includes/messages.html' %}
                        <table id="table_id" class="table table-hover table-center mb-0 ">
                            <thead>
                            <tr>
                                <th>Имя</th>
                                <th>Email</th>
                                <th>Отдел</th>
                                <th>Должность</th>
                                <th>Имя пользователя</th>
                                <th>Последний вход</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in staff %}
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="">{{i.first_name}}&nbsp;{{i.last_name}}</a>
                                    </h2>
                                </td>
                                <td>{{i.email}}</td>
                                <td>{{i.WORK_DEPARTMENT}}</td>
                                <td>{{i.WORK_POSITION}}</td>
                                <td>{{i.username}}</td>
                                <td>{{i.last_login}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}